@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  height: 100vh;
  margin: 0;
  color: white;
  font-family: 'Montserrat'
}

section {
  height: 100vh;
}

section.intro {
  background: rgb(4, 50, 61);
  padding-top: 10em;
  height: calc(100vh - 10em);

  p {
      font-size: 2em;
      text-align: center;
      margin-top: 3em;
  }
}

section.anim {
  background: #1989A6;
  padding: 12em;
  height: calc(100vh - 24em);
  overflow: hidden;
  position: relative;

  h1 {
      position: absolute;
      font-size: 10em;
      text-transform: uppercase;
      margin: 0;
      z-index: 1;
      left: 15%;
  }

  p {
      position: absolute;
      font-size: 2em;
      width: 40%;
      z-index: 1;
      top: 500px;
  }

  .box1 {
      position: absolute;
      top: 0;
      left: 20%;
      z-index: 0;
      width: 800px;
      height: 800px;
      border: 30px solid #20A2C3;
      overflow: hidden;
      transform: rotateZ(65deg)
  }

  .box2 {
      position: absolute;
      top: 20%;
      left: 10%;
      z-index: 0;
      width: 200px;
      height: 200px;
      border: 30px solid rgba(255,255,255,.5);
      overflow: hidden;
  }

}